body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    max-width: 1800px;
    margin: auto;
}

  /*BARRA DI NAVIGAZIONE*/
.navbar {
  max-width: 1800px;
  margin: auto;
  max-width: 1800px;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 40px;
}

.nav-sinistra {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-centrale{
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 0.8s ease;
}

.nav-sinistra a:hover,
.nav-centrale a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.nav-sinistra a:focus,
.nav-centrale a:focus {
  outline: none;
  background-color: black;
  color: white;
  border: 2px solid black;
}

  /*MAIN*/

    /*PT1*/

.contenitore1 {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 30px;
}

.text-content h1 {
  font-size: 128px;
  margin: 0;
}

.text-content span {
  color: grey;
}

.text-content {
  color: black;
}


/*INIZIO homepage - vesuvio-card*/

.card-home{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease
}

.card-home:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.card-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 24px;
    z-index: 2;
    transition: transform 0.3s ease;
}


.gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 20), transparent);
}

.nome{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  text-align: center;
  transition: text-decoration 0.3s ease;
}

.nome:hover {
  text-decoration: underline;
}

/*FINE homepage - vesuvio-card*/

/*HOMEPAGE PT2*/

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 30px;
}

.intro h1 {
    margin: 0;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: 400;
    padding: 10px 20px;
  }

  .cards {
    display: flex;
    gap: 30px;
  }


  .see-more {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
  }

  /*HOMEPAGE PT2 FINE*/


  .card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    overflow: hidden;
    text-decoration: none;
    color: white;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  .overlay .arrow {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
  }

  .overlay p {
    margin-left: -20px;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
}


  /*PAGINA PARCHI*/

  .parchi-hero {
    padding: 40px;
  }
  
  .parchi-hero h1 {
    font-size: 128px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
  }
  
  .parchi-contenitore {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .parchi-testo {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 40px;
    line-height: 1.3;
    flex: 1;
    min-width: 300px;
  }
  
  .parchi-galleria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1; 
    min-width: 300px;
  }
  
  .parchi-card {
    width: calc(50% - 10px);
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background-color: #ccc;
  }
  
  .parchi-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
  }
  
  .parchi-card span {
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: white;
    font-size: 14px;
    text-shadow: 0px 0px 4px black;
  }
  
  .parchi-piccola {
    height: 300px;
    align-self: flex-end;
    margin-left: auto;
    margin-bottom: 50px;
  }
  

  /*Griglia nella pagina dei parchi*/

  .container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px 40px;
    max-width: 1800px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .card-parchi {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 25px;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .card-parchi:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  
  .card-parchi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 24px;
    z-index: 2;
    transition: transform 0.3s ease;
  }
  
  .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  }
  
  .nome {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    text-align: center;
    transition: text-decoration 0.3s ease;
  }
  
  .nome:hover {
    text-decoration: underline;
  }

  /*FINE PAGINA PARCHI*/


 /*PAGINA ATTIVITÀ*/

 .attivita-hero {
  padding: 40px;
}

.attivita-hero h1 {
  font-size: 128px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.attivita-contenitore {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.attivita-testo {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 40px;
  line-height: 1.3;
  flex: 1;
  min-width: 300px;
}

.attivita-galleria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1; 
  min-width: 300px;
}

.attivita-card {
  width: calc(50% - 10px);
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: #ccc;
}

.attivita-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.attivita-card span {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: white;
  font-size: 14px;
  text-shadow: 0px 0px 4px black;
}

.attivita-piccola {
  height: 300px;
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: 50px;
}

.paragrafo{
  padding: 40px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.paragrafo h1 {
  font-size: 48px;
  font-weight: 500;
  border-bottom: 2px solid #000;
  display: inline-block;
  margin-bottom: 25px;
}

.paragrafo h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
}

.paragrafo h3{
  font-weight: 500;
}

.paragrafo p {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  margin-bottom: 40px;
}

.paragrafo ul{
  padding-left: 15px;
}

.paragrafo li{
  padding-bottom: 10px;
}

.paragrafo-img{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.paragrafo-img img {
  max-width: 250px;
  height: 360px;
  object-fit: cover;
  border-radius: 20px;
  flex-basis: calc(25% - 15px);
}

.img{
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;   
}

.img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

/*FINE ATTIVITA*/


/*PARCHI*/

.parchi-titolo {
  max-width: 1200px;
  margin-top: 100px;
  padding: 0 80px;
}

.parchi-titolo h1 {
  font-size: 128px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.parchi-titolo p{
  font-size: 64px;
  margin-top: 0;
}

.linea {
  font-size: 28px;
  font-weight: 500;
  border-bottom: 2px solid #000;
  display: inline-block;
}

.paragrafo-img2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.paragrafo-img2 img {
  border-radius: 20px;
  height: 450px;
  width: auto;
  max-width: 48%;
  object-fit: cover;
}



  .footer {
    margin-top: 100px;
    background-color: #d3d3d3;
    padding: 15px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-nav {
    margin-bottom: 8px;
  }
  
  .footer a {
    margin: 0 15px;
    color: black;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-copy {
    margin: 0;
  }



  @media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        background-color: white;
        height: 100px;
    }

    .nav-sinistra{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .nav-centrale {
        gap: 30px;
        margin-top: 60px;
    }

    .contenitore1 {
      flex-direction: column;
      align-items: center;
    }
    
    .text-content h1 {
      font-size: 64px;
      margin-bottom: 30px;
    }

    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .intro {
      text-align: center;
    }
  
    .intro h1 {
      font-size: 30px; 
    }
  
    .cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      width: 100%;
    }
  
    .card-home {
      width: 100%;
    }
  
    .card-home img {
      width: 100%;
      height: auto;
      display: block;
    }

    .nome {
      font-size: 20px;
      padding-bottom: 20px;
    }

    .parchi-hero{
      margin-top: 0;
    }

    .parchi-hero h1 {
      margin-top: 10px;
      font-size: 64px;
    }

    .parchi-testo{
      font-size: 30px;
    }

    .parchi-card{
      height: 300px;
    }

    .parchi-piccola {
      width: 100%;
      height: 300px;
      display: block;
    }

    .container2 {
      grid-template-columns: 1fr;
      padding: 20px;
    }

    .attivita-hero{
      margin-top: 0;
    }

    .attivita-hero h1 {
      margin-top: 10px;
      font-size: 64px;
    }

    .attivita-testo{
      font-size: 30px;
    }

    .attivita-card{
      height: 300px;
    }

    .paragrafo-img {
        width: 100%;
      }

    .paragrafo-img img{
      flex-basis: 100%;  
       max-width: 100%; 
      }

    .parchi-titolo{
      padding-left: 60px;
    }
  
    .parchi-titolo h1{
      font-size: 64px;
    }

    .parchi-titolo p{
      font-size: 30px;
    }

   .paragrafo-img2 {
    flex-direction: column;
    align-items: center;
    }

  .paragrafo-img2 img {
    max-width: 100%;
    height: auto;   
  }
}
